language: java
sudo: false

jdk:
  - openjdk6
  - openjdk7
  - oraclejdk7
  - oraclejdk8 
before_install: mvn clean install -DskipTests=true
after_success:
  - mvn clean cobertura:cobertura coveralls:report
